:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --accent-color-secondary: #ffffff;
  --background-color: #2f303a;
  --background-color-secondary: #f5f4fa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*=============HEADER============*/
.header {
  margin-bottom: 0px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  background: var(--accent-color-secondary);
  display: flex;
  align-items: center;
}
.logotype {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  display: block;
}
.logo-item {
  color: var(--accent-color);
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.navigation-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.contactlist {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-link:not(:last-child) {
  margin-right: 50px;
}
.contact-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}
/*=============END-HEADER============*/
/*=============OFFER============*/

.offer-section {
  background: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.offer-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color-secondary);
  max-width: 696px;
  text-align: center;
  margin-bottom: 30px;
}
.order-button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--accent-color-secondary);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
.order-button:hover,
.order-bytton:focus {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
/*=============END-OFFER============*/
/*=============DETAILS============*/
.details-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
}
.details-section-list {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  margin: -15px;
}
.details-section-item {
  margin: 15px;
}
.details-section-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.details-section-description {
  width: 270px;
  height: 75px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-transform: none;
  color: var(--main-color);
}
/*=============END-DETAILS============*/
/*=============WHAT-WE-DO============*/
.what-we-do {
  padding-bottom: 94px;
}
.what-we-do-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-color);
  margin-bottom: 50px;
}
.what-we-do-title-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -15px;
}
.what-we-do-item {
  margin-right: 15px;
}
.what-we-do-image {
  width: 370px;
  height: 294px;
}
/*=============END-WHAT-WE-DO============*/
/*=============OURTEAM============*/
.ourteam {
  background: var(--background-color-secondary);
  padding-top: 94px;
  padding-bottom: 94px;
}
.ourteam-main-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-color);
  margin-bottom: 50px;
}
.ourteam-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -15px;
}
.ourteam-list-item {
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.ourteam-content {
  padding: 30px 57px 32px 57px;
  background: #ffffff;
}
.ourteam-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 10px;
}
.ourteam-image {
  width: 270px;
  height: 260px;
}
.ourleam-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 30px;
}
/*=============END-OURTEAM============*/
/*=============CONTACT-FOOTER===========*/
.contact-footer .container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact-footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logotype {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color-secondary);
  margin-bottom: 20px;
}
.contact-footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color-secondary);
}
.contact-footer-link2 {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
/*=============END-CONTACT-FOOTER===========*/
/*=============PORTFOLIO-BUTTON===========*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-portfolio-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-buttons-items:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  min-width: 73px;
  min-height: 38px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--secondary-color);
  background: var(--background-color-secondary);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--accent-color-secondary);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
/*=============END-PORTFOLIO-BUTTON===========*/
/*=============PORTFOLIO-IMAGES===========*/
.list-portfolio-images .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -7px;
}
.portfolio-content {
  text-align: left;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.list-portfolio-images-items {
  margin: 7px;
  display: inline-block;
  border: 1px solid #eeeeee;
}
.portfolio-image {
  width: 370px;
  height: 294px;
}
.portfolio-images-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}
.portfolio-image-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-color);
}
/*=============END-PORTFOLIO-IMAGES===========*/
